.contact-page {
  background: #ffffff;
  padding: 140px 20px;
}

.contact-container {
  max-width: 1250px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 90px;
  align-items: center;
}

/* LEFT */

.contact-tag {
  color: #0b1c3d;
  font-weight: 700;
  letter-spacing: 1px;
  font-style: italic;
  font-size: 13px;
}

.gmail {
  font-size: 15px;
  color: #000;
  font-style: italic;
}

.contact-form h1 {
  color: #0b1c3d;
  font-size: 39px;
  font-weight: 600;
  margin: 10px 0 20px;
}

.contact-note {
  color: #555;
 
  margin-bottom: 30px;
  max-width: 420px;
}

/* FORM */

.form-row {
  display: flex;
  gap: 16px;
}

form input,
form textarea {
  width: 100%;
  padding: 15px;
  border: 1px solid #151247;
  border-radius: 8px;
  margin-bottom: 15px;
  transition: .3s;
}

form input:focus,
form textarea:focus {
  border-color: #0b1c3d;
  outline: none;
}

form textarea {
  height: 120px;
}

.form-row {

  font-size: 15px;
  color: #0e1c38;
  font-style: italic;

}

button {
  background: #0b1c3d;
  color: white;
  padding: 15px 35px;
  border-radius: 8px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  transition: .3s;
}

button:hover {
  background: #163d7a;
}

/* RIGHT LOTTIE */

.contact-lottie {
  width: 560px;
  height: 560px;
}

/* Responsive */

@media (max-width: 900px) {

  .contact-container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .contact-lottie {
    width: 100%;
    height: 420px;
  }

}
