.curved-loop-jacket {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -300px;
  width: 100%;
  margin-bottom: -280px;
}

.curved-loop-svg {
  user-select: none;
  width: 100%;
  
  aspect-ratio: 100 / 12;
  overflow: visible;
  display: block;
  font-size: 2rem;
  fill: #000000;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  font-weight: 500;
  
  line-height: 1;
}
