.dashboard-preview {
  padding: 120px 6%;
  background: #ffffff;

  overflow: hidden;
}

/* HEADER */
.dashboard-header {
  text-align: left;
  max-width: 760px;
  margin: 0 auto 60px;
}

.dashboard-header h2 {
  font-size: 36px;
  margin-top: -130px;
  margin-left: -200px;
  margin-bottom: 0px;
  font-weight: 700;
  color: #0b2a4a;
  margin-bottom: 14px;
}

.dashboard-header h2 span {
  color: #000000;
}

.dashboard-header p {
  font-size: 16px;
  line-height: 1.65;
  margin-left: -200px;
  font-style: italic;
  color: #16191dc9;
}

/* ANIMATION */
.dashboard-animation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lottie-box {
  width: 100%;
  margin-top: -80px;
  margin-bottom: -50px;
  max-width: 520px;
  height: auto;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .dashboard-header h2 {
    font-size: 36px;
  }

  .dashboard-header p {
    font-size: 16px;
  }

  .lottie-box {
    max-width: 100%;
  }
}