.model-wrapper {
  width: 100%;
  height: 70vh;
  max-height: 600px;
  margin: auto;
  background-color: #ffffff00; /* Matches Sketchfab viewer */
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(247, 247, 247, 0);
  overflow: hidden;
}


.model-heading {
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.model-caption {
  color: #ccc;
  text-align: center;
  margin-top: 10px;
  font-size: 1rem;
}
