.stakeholder-section {
  padding: 110px 6%;
  background: #ffffff;
  margin-top: -150px;

}

.stakeholder-header {
  max-width: 760px;
  margin-bottom: 80px;
}

.stakeholder-header h2 {
  font-size: 36px;
  font-weight: 700;
  color: #0b1c3d;
  align-items: center;
  margin-bottom: 14px;
}

.stakeholder-header p {
  font-size: 16px;
  color: #2e3031;
  font-style: italic;
  line-height: 1.65;
}

.stakeholder-grid.four {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 26px;
}

/* Card */
.stakeholder-card {
  background: #0b1c3d;
  margin-top: -30px;
  border-radius: 20px;
  padding: 42px 34px;
  border: 1px solid #eef3f8;
  box-shadow: 0 20px 50px rgba(10, 40, 80, 0.15);
  transition: all 0.35s ease;

  height: 100%;
}

.stakeholder-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 32px 80px rgba(10, 40, 80, 0.25);
}

.icon-box {
  width: 56px;
  height: 56px;
  border-radius: 16px;
  background: linear-gradient(
    135deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0.76)
  );
  color: #0b1c3d;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
}

.stakeholder-card h3 {
  font-size: 22px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 14px;
}

.stakeholder-card p {
  font-size: 15.5px;
  line-height: 1.65;
  color: #bfc0c2c9;
  margin-bottom: 22px;
}

.stakeholder-card ul {
  list-style: none;
  padding: 0;
}

.stakeholder-card li {
  font-size: 14.8px;
  color: #ffffff;
  margin-bottom: 10px;
  padding-left: 18px;
  position: relative;
}

.stakeholder-card li::before {
  content: "";
  width: 7px;
  height: 7px;
  background: #ffffff;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 7px;
}

/* Responsive */
@media (max-width: 1200px) {
  .stakeholder-grid.four {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 640px) {
  .stakeholder-grid.four {
    grid-template-columns: 1fr;
  }
}
