.services-section {
  background: white;
  padding: 100px 8%;
}

.services-header {
  text-align: center;
  margin-bottom: 60px;
}

.services-header h2 {
  font-size: 36px;
  color: #191446;
  font-weight: 700;
}

.services-header p {
  color: #6b7280;
  max-width: 700px;
  margin: 15px auto 0;
}

/* KPI */
.kpi-grid {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 20px;
  margin-bottom: 80px;
}

.kpi-card {
  background: #191446;
  padding: 30px;
  text-align: center;
  border-radius: 16px;
  margin-bottom: 70px;
}

.kpi-card h3 {
  font-size: 32px;
  color: #ffffff;
}

.kpi-card p {
  color: #b9b9bb;
}

/* SERVICES */
.services-container {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.service-block {
  display: flex;
  align-items: center;
  gap: 60px;
}

.service-block.reverse {
  flex-direction: row-reverse;
}

.service-text {
  flex: 1;
}

.service-text h3 {
  font-size: 32px;
  color: #0b2a4a;
  font-weight: 700;
  margin-bottom: 15px;
}

.service-text p {
  color: #181a1d;
  font-style: italic;
  font-size: 15px;
  line-height: 1.8;
}

.service-lottie {
  flex: 1;
  height: 200px;
}

@media(max-width:900px){
  .service-block {
    flex-direction: column;
  }
  .kpi-grid {
    grid-template-columns: 1fr 1fr;
  }
}
