
@import "tailwindcss";

/* FlipText Component Animations */
.flip-char {
color: inherit;
-webkit-text-fill-color: transparent;
height: 1.2em;
line-height: 1.2em;
vertical-align: middle;
animation: flip var(--flip-duration, 2.2s) var(--flip-delay, 0s) infinite ease;
}

.flip-char::before,
.flip-char::after {
color: inherit;
-webkit-text-fill-color: currentColor;
content: attr(data-char);
position: absolute;
top: 50%;
left: 50%;
height: 100%;
width: 100%;
display: flex;
align-items: center;
justify-content: center;
backface-visibility: hidden;
animation: fade var(--flip-duration, 2.2s) var(--flip-delay, 0s) infinite ease;
}

/* Front Face (Initial) */
.flip-char::after {
transform: translate(-50%, -50%) translateZ(0.6em);
}

/* Bottom Face (Rotates in) */
.flip-char::before {
transform: translate(-50%, -50%) rotateX(-90deg) translateZ(0.6em);
opacity: 0;
--opacity: 1;
}